/**
 * @name NexFord Theme
 * @author NexFord
 * @authorLink
 * @version Production
 * @source Local
 * @description All feature by NexFord.
*/

@keyframes scale {
    40%, 60% {
        scale: 1;
    }
    50% {
        scale: 1.4;
    }
}

@keyframes rotate {
    to {
        rotate: 1turn;
    }
}


#channel-context-open-chat,
#user-context-add-friend,
[id^="user-context-devmode-copy-id-"],
[id^="channel-context-devmode-copy-id-"] {
    background-color: rgb(77, 77, 77);
    color: rgb(255, 255, 255);
}

[class^="newChannel__"],
[class^="numberBadge__"],
[class^="newBadge__"],
[class^="mention__"],
.mentionsBar__7d867 {
    animation: 3s infinite scale;
}

.iconContainer__6a580[aria-label="Voix (Limité) icon"] svg,
.iconContainer__6a580[aria-label="Voix (Verrouillé) icon"] svg,
a.link__95dc0[aria-label="Ce salon est plein."] .iconContainer__3f9b0 svg {
    color: red;
}

.roles__74a2b, .roleContainer_c93b12 {
    flex-direction: column;
    align-items: flex-start;
}

.role_d81130 {
    width: min-content;
}

.role_d81130, .item__287de {
    border-radius: 20px !important;
}

:root {
    --unread: rgb(83, 123, 255);
}

.unread__48cf4 {
    background-color: var(--unread);
}

.containerDefault_ae2ea4:has(.unread__48cf4) .name__4eb92 {
    color: var(--unread);
}

.containerDefault_ae2ea4:has(.unread__48cf4):has([class^="numberBadge__"]) {
    border: 2px solid red;
}