/**
 * @name NexFord Theme
 * @author NexFord
 * @authorLink
 * @version Production
 * @source Local
 * @description All feature by NexFord.
*/

@keyframes scale {
    40%, 60% {
        scale: 1;
    }
    50% {
        scale: 1.4;
    }
}

@keyframes rotate {
    to {
        rotate: 1turn;
    }
}


#channel-context-open-chat,
#user-context-add-friend,
[id*="-devmode-copy-id-"] {
    background-color: rgb(77, 77, 77);
    color: rgb(255, 255, 255);
}

[class^="newChannel__"],
[class^="numberBadge__"],
[class^="newBadge_"],
[class^="mention__"],
.mentionsBar__7aaec
{
    animation: 3s infinite scale;
}

[aria-label="Voix (Limité) icon"] svg,
[aria-label="Voix (Verrouillé) icon"] svg,
[aria-label="Ce salon est plein."] svg {
    color: red;
}

[class^=containerDefault_]:has([class^="mentionsBadge_"])  {
    border: 2px solid red;
}