.containerDefault_ae2ea4:has([data-list-item-id="channels___1218773823059525656"])
.list__02208
{
    background-color: white;
    top: 73px;
    left: 313px;
    position: fixed;
    flex-direction: row;
    padding: 0;
}