.roles__74a2b {
    flex-direction: column;
}
.role_d81130 {
    width: min-content;
}
.roleCircle__61ad8 {
    scale: 1.25;
    margin-right: 10px;
}
.roleName__851c9 > div {
    font-size: 1.25em;
}