:root {
    --unread: rgb(83, 123, 255);
}

.unread__48cf4{
    background-color: var(--unread);
}

.containerDefault_ae2ea4:has(.unread__48cf4) .name__4eb92 {
    color: var(--unread);
}

.containerDefault_ae2ea4:has(.unread__48cf4):has([class^="numberBadge__"]) {
    border: 2px solid red;
}